/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib
/_build*

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*
!META.json

/WWW-Softserve-*

.DS_Store
._*

.carmel
/local

/static/boards/*
!/static/boards/keep
*.yml
!config-defaults.yml

*.sqlite3
*.sqlite
*.sqlite3
*.db
*.db3
*.s3db
*.sl3

/.vscode

/.prove

*.cert
*.pem